
<header>

  <div class="header-logo">
    Ride
  </div>
  <ul class="header-menus">
    <li><%= link_to "キャストを探す", casts_index_path %></li>
    <li><%= link_to "キャストを呼ぶ", new_resefe_path(man_id: @man.id) %></li>
    <li><%= link_to "プロフィール", men_profile_path %></li>
    <li><%= link_to "予約確認", men_reseves_path %></li>
    <li><%= link_to "ログアウト", destroy_man_session_path, method: :DELETE %></li>
  </ul>
</header>
<div class="show-hero-wrapper text-center">
  <div class="col-md-offset-4 col-md-4">
    <p><%= image_tag @man.image.url,style: "border-radius: 50%; width:  300px;height: 300px;" %></p>
    <h2><%= @man.name %></h2>


  </div>
<form action="/stripe/create" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_QW3k217JcyxXeu6fHb7JhqkZ"
    data-amount="99999"
    data-name="Demo Site"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="jpy">
  </script>
  <input type="hidden" name="men_id" value="<%= @man.id %>">
</form>
</div>
